.user-panel{
    width: 250px;
    display: grid;
    margin: 0 auto;
    margin-top: 50px;
}

#reg{
    display: grid;
}

#log{
    display: none;
}

#changePassword{
    display: none;
}

.logoutTxt{
    text-align: center;
}